html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 254 254 / 100%);
}

.lightbox__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.imgLight {
  max-width: 1050px;
  max-height: 900px;
  max-width: 100%;
  max-height: 100%;

  object-fit: cover;
}

.lightbox__next,
.lightbox__prev {
  position: absolute;
}

.lightbox__next {
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  border: none;
  background: transparent;
  font-size: 50px;
}
.lightbox__prev {
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  border: none;
  background: transparent;
  font-size: 50px;
}
.lightbox__close {
  position: absolute;
  right: 30px;
  top: 30px;
  border: none;
  background: transparent;
  font-size: 50px;
}

.boxImg {
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 800px;
}

.colorRed {
  color: #901c1c;
}

.mediaBox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaTitre {
  flex: 0 0 auto;
  text-align: center;
}
