@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h1Photographer {
  text-align: end;
}
h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  text-align: center;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* CSS de la partie article */
h2 {
  margin-bottom: 0px;
}
h3 {
  font-size: 1.3rem;
  margin-bottom: 0px;
  margin-top: 8px;
  color: #911f1f;
}

.ville {
  text-align: center;
}
.paragraphe {
  margin-bottom: 4px;
  margin-top: 9px;
}
.prix {
  margin-top: 0px;
  color: #5e5d5d;
}
.lienProfil {
  text-decoration: none;
}

.container-header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.titreH2 {
  margin-right: 15px;
  margin-top: 0px;
}
/* CSS DE LA PARTIE "photographer-header" */
.photograph-header {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.divHeaderInfo {
  order: -1;
}

/* CSS DE LA PARTIE CONTAINER DES MEDIAS */

.container .containerBody {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mediaSection {
  width: 30%;
}

.containerBodyCard {
  width: 100%;
}

.classImgCard {
  object-fit: cover;
  height: 268px;
  width: 100%;
}
.classVideoCard {
  object-fit: cover;
  height: 268px;
  width: 100%;
}

.bar {
  display: flex;
  background-color: #e08c74;
  overflow: hidden;
  bottom: 0;
  position: fixed;
  right: 30px;
  border-radius: 5px;
  align-items: center;
  padding: 0px 20px 0px 20px;
}
.barLikes {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.txtBar {
  margin-right: 5px;
}
.coeur {
  width: 20px;
  height: 20px;
}

.classSvgIcon {
  width: 20px;
}

.containerBodyCardinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerBodyCardLikes {
  display: flex;
  align-items: center;
}

.titreH3 {
  margin-top: 0px;
}

.classSvgIcon {
  margin-left: 6px;
}
